thekickback.net {
	reverse_proxy landing-blue:3000
}

join.thekickback.net {
	reverse_proxy join-app:3000
}

dash.thekickback.net {
	reverse_proxy dash-app:3000
}

claw.thekickback.net {
	reverse_proxy claw:18789
}
